@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{ margin: 0;
    padding: 0;
     font-family: "roboto",sans-serif;
    box-sizing: border-box; }
 .logo{
             
            width: 120px  ;
            
        }
    .header{
        height: 152px;
        background-color:#7d858e60;
       

         } .listaNav{
        
        margin-left: 10px;
        text-align: center;
       
   .listaItem{ 
        display: inline-block;
        list-style: none;
        margin-right: 60px ;
        font-weight: 200px;
   .linkNav{ color:#8E7D8E ;
    text-decoration: none;
     
font-size: 1.5rem;}
    

    }   }
       
    
    .seccionForm{ 
    
        text-align: right;
        display: block;
  
  .inputIngresar{
    background-color: #d613bc38;
    color: aliceblue;
    padding: 2px 2px 2px 2px

  }
    }

    .main{
    
      .imgCentral{
           
            padding-left: 300px;
            margin: 0 auto;
            width: auto;
            height: auto;
        }
    }  
        
    
    .h1{
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 2.5rem;
        
        color: #7D8E7D;
    }
    .h2{
        text-align: center;
        color: #7D8E7D;
    }
    .parrafoMain{
           padding-left: 320px;
           color:#8E867D;
           font-size: 2rem;
       }

       .servicios{
        width: 80%;
        margin: 0 auto;
        padding: left 150px;
        
        .servicioTitulo{
            text-align: center;
        font-size: 3rem;
        color:#8E7D8E;
        text-decoration: none;
        padding-top: 20px;
        
       }
       .seccionImg{
        
         padding: 20px 20px 20px 20px;
         display: inline-block;
         text-decoration: none;
       }
     .imgServicios{
        display: inline-block;
         width: 300px;
         border: 1px solid black;
         object-fit: contain;
         object-fit: cover;
         padding: 20px 50px;
         padding: 10px 20px 30px 40px;
         padding-left: 50px;
         padding-top: 20px;
         padding-bottom: 15px;
         padding-right: 20px;
         margin: 20px;
       
}
      
      .h4img{
         text-decoration: none;
         font-size: 1.rem;
         padding-left: 100px;
       } 
      
    } 
    .seccionYoutube{
        padding-top: 20px;
        padding-left: 330px;
    }
    .h3{
        font-size: 1rem;
        color: #8E7D8E;
    }
    .footer{ background-color:#7d858e60 ;

    }
    .ayudaFooter{
        .liFooter{
            color:#7D8E7D;
        text-decoration: none;
    }
    }
    seccionRedes{
        padding-left: 200px;
    }