@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  color: black;
  background-image: linear-gradient(to right bottom, #ae7eb1, #a67aa8, #9e769f, #967397, #8e6f8e);
}

.logo {
  width: 110px;
}

.bgNavegation {
  background-color: #61075A;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  color: #110E0E;
  font-size: 2.5rem;
  font-weight: 500;
}

h6, h5 {
  color: rgba(255, 255, 255, 0.55);
}

p {
  color: #110E0E;
}

span {
  color: #61075A;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .nav-item {
    text-align: center;
  }
  .logo {
    width: 80px;
  }
  .navbar-collapse {
    background-color: #333;
  }
  .mainContacto {
    padding: 10px;
  }
  .mainContacto .maps1 {
    display: none;
  }
  .listaContacto {
    list-style: none;
  }
  .listaItem {
    margin-bottom: 10px;
  }
  h2 {
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  header .tituloHeader {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  header .tituloHeader {
    display: inline;
    font-size: x-large;
    color: #C2B9B9;
  }
}

.mainIndex .card {
  color: rgb(240, 240, 240);
  position: relative;
}
.mainIndex .card::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: linear-gradient(to right, #ff0099, #e9dbe4);
  filter: blur(20px);
  z-index: -1;
  width: 70%;
  height: 90%;
}
.mainIndex .card-body {
  background-color: #24031E;
}
.mainIndex .btn {
  background-color: #786176;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.mainIndex .btn:hover {
  background-color: #C2B9B9;
}
.mainIndex .nav-link {
  color: #F0EDED;
  transition: color 0.3s;
}
.mainIndex .nav-link:hover {
  color: #110E0E;
}
.mainIndex .parrafo {
  color: #eee;
  background-color: rgba(129, 123, 123, 0.4196078431);
  border-radius: 1px;
}
.mainIndex .titulo {
  background-color: rgba(129, 123, 123, 0.4196078431);
}
.mainIndex .targetIndex {
  width: 100%;
  display: block;
  transition: box-shadow 0.5s ease;
}
.mainIndex .targetIndex:hover {
  box-shadow: 0 0 0 5px #e0c0d7;
}

@media only screen and (max-width: 767px) {
  .titulo {
    display: none;
  }
  .parrafo {
    color: #eee;
    background-color: rgba(129, 123, 123, 0.4196078431);
    border-radius: 10px;
    font-size: small;
  }
  .containerCard {
    margin-bottom: 10px;
  }
}
footer {
  background-color: #61075A;
}
footer .fab.fa-whatsapp {
  font-size: 70px;
  color: #25D366;
  transition: transform 0.2s;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}
footer .fab.fa-facebook-f {
  color: #1877F2;
  transition: transform 0.2s;
}
footer .fab.fa-linkedin {
  color: #0077B5;
  transition: transform 0.2s;
}
footer .fab.fa-instagram {
  color: #C13584;
  transition: transform 0.2s;
}
footer .fab.fa-google {
  color: #4285F4;
  transition: transform 0.2s;
}
footer .fab.fa-twitter {
  color: #1DA1F2;
  transition: transform 0.2s;
}
footer .fab.redes:hover {
  transform: translateY(-5px);
}
footer .botonInSesion {
  background-color: #C2B9B9;
}
footer .spanFooter {
  color: #F0EDED;
}
footer .copyR {
  color: #F0EDED;
}
footer p {
  color: #F0EDED;
}
footer .btn {
  background-color: #786176;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
footer .btn:hover {
  background-color: #C2B9B9;
}
footer .nav-link {
  color: #F0EDED;
  transition: color 0.3s;
}
footer .nav-link:hover {
  color: #110E0E;
}

@media only screen and (max-width: 767px) {
  .fab.fa-whatsapp {
    font-size: 60px;
    color: #25D366;
    transition: transform 0.2s;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
}
.mainContacto h2 {
  color: #110E0E;
  font-size: 2.5rem;
  font-weight: 500;
}
.mainContacto p {
  color: #110E0E;
}
.mainContacto .listaContacto {
  list-style-type: none;
}
.mainContacto .listaContacto .listaItem {
  padding: 10px;
}
.mainContacto .btn {
  background-color: #786176;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.mainContacto .btn:hover {
  background-color: #C2B9B9;
}

.mainNosotros p {
  color: #110E0E;
}
.mainNosotros .tarjeta {
  color: white;
  position: relative;
}
.mainNosotros .tarjeta::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: linear-gradient(to right, #ff0099, #e9dbe4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: blur(15px);
  z-index: -1;
  width: 70%;
  height: 100%;
}

.mainHistoria p {
  color: #110E0E;
}
.mainHistoria .tarjeta {
  color: white;
  position: relative;
}
.mainHistoria .tarjeta::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: linear-gradient(to right, #ad5389, #e9dbe4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  filter: blur(30px);
  z-index: -1;
  width: 100%;
  height: 90%;
}

.mainGaleria p {
  color: #110E0E;
}
.mainGaleria .tarjeta {
  color: white;
  position: relative;
}
.mainGaleria .tarjeta::after {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: linear-gradient(to right, #ff0099, #e9dbe4);
  filter: blur(30px);
  z-index: -1;
  width: 70%;
  height: 90%;
}

.targetImg {
  width: 100%;
  display: block;
  transition: box-shadow 0.5s ease;
}

.targetImg:hover {
  box-shadow: 0 0 0 5px #e0c0d7;
}

.mainError404 {
  background-image: url(/assets/img/img-carousel-1.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: white;
}

.errorP {
  color: white;
}

.error-text {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 5px;
  max-width: 80%;
}

.btn {
  background-color: #786176;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.btn:hover {
  background-color: #C2B9B9;
}

.error-text {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.86, 0, 0.07, 1) both;
  animation: tracking-in-contract-bck 1s cubic-bezier(0.86, 0, 0.07, 1) both;
} /* ----------------------------------------------
* Generated by Animista on 2024-4-18 20:15:10
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
/* me falta el mixin.scss (1 misin o extend)
1 mapa y usarlo map_get*/

/*# sourceMappingURL=estilosAnidados.css.map */
