.mainGaleria{
    p{
      color:$color-fuente-p;}
 .tarjeta{
  color:$color-white;
  position: relative;}
 .tarjeta::after{
  position: absolute;
  top: $px-0;
  left: $px-0;
  content: "";
  background: linear-gradient(to right, #ff0099, #e9dbe4); 
  filter: blur($px-30);
  z-index: $espacio-1;
  width: $t-70por;
  height: $t-90por;}}

    
   .targetImg{
    width: 100%; 
    display: block; 
    transition: box-shadow .5s ease;
   }
  .targetImg:hover{
    box-shadow: 0 0 0 5px #e0c0d7;
  }

 