.mainError404 {
    position: relative;
    width: 100%;
    min-height: calc(100vh - 100px); /* Ajusta según el alto de tu header y footer */
    overflow: hidden;
}

.background-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/pexels-nataliya-vaitkevich-8468157.jpg'); /* Ruta de tu imagen */
    background-size: cover;
    filter: blur(8px);
    z-index: 1; /* Detrás del contenido */


}
.message {
    position: relative;
    z-index: 2; /* Asegura que el mensaje y el botón están sobre la imagen */
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    filter: none;
}
h1{
    font-size: $rem-3;
    font-weight: $fw-700;
}
.btn{
    flex-direction: row;
    justify-content: center;
    background-color:$color-btn-bg; 
    color: $color-f;
    padding: $px-10 $px-20; 
    border: none; 
    border-radius: $px-5; 
    cursor: pointer; 
    font-size: $px-16;}
  .btn:hover {
            background-color:$color-fuentes-bg;}
  .nav-link {
            color:$color-secundario; 
            transition: color 0.3s;}
  .nav-link:hover{
                   color:$color-fuente-p;}