$color-principal:#61075A;
$color-secundario: #F0EDED;
$color-fuente-p:#110E0E;
$color-fuentes-bg:#C2B9B9;
$color-bg-principal:#817b7b6b;
$color-btn-bg:#786176;
$color-white:white;
$color-eee:#eee;
$color-f:#ffffff;
$fw-500:500;
$fw-700:700;
$px-0:0px;
$px-5:5px;
$px-10:10px;
$px-16:16px;
$px-20:20px;
$px-30:30px;
$t-100por:100%;
$t-90por:90%;
$t-70por:70%;
$rem-2p5:2.5rem;
$rem-3:3rem;
$espacio-1:-1;
$transform-02:transform 0.2s;

